.footer{
    font-size: 12px;
}

.main {
    flex: 1; /* Esto hará que ocupe el espacio restante */
}

.body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.poppins{
    font-family:'Poppins', sans-serif;
}

.background-image {
    position: absolute;
    z-index: -1; /* Mover la imagen detrás de otros elementos */
    opacity: 0.3;
  }

.fuente-grande{font-size: 200%;
}

.pt-xl{
    padding-top: 5%;
}

.pr-xl{
    padding-right: 5%;
}

.pl-xl{
    padding-left: 5%;
}

.header-img{
    width: 120px ;
    height: auto;
}

.header{
    margin: 12px;


}

.td{
    padding: 2px;
}

.between{
    justify-content: space-between;
}

.div-publicidad{
    justify-content: space-between;
}

